@use '../util/' as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  width: min(100% - u.rem(40), u.rem(1000));
  margin-inline: auto;

  @include u.breakpoint-up(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(240, 100%, 50%);
  }

  &__sidebar {
    // background-color: hsl(300, 100%, 50%);
    @include u.breakpoint-down(medium) {
      text-align: center;
    }
  }

  &__widget {
    // $widget: &;
    background-color: hsl(300, 100%, 50%);
    padding: u.rem(16);

    &--green {
      // @extend #{$widget};
      background-color: hsl(120, 100%, 27%);
    }
  }
}
